html,body{
    padding:0px; 
    margin:0px; 
}

.header_wrapper{
	width:100%;
	height: 25px;
	padding:0px;
	margin:0px;
	background:pink;
}
.header_wrapper a{ text-decoration:none; color:#09F}
.header_wrapper a:hover{ text-decoration:underline; color:black}

.login{
	font-family:Arial, Helvetica, sans-serif;
	color:black;
	font-size:12px;
	padding-top:3px;
	font-size:12px;
	width:920px;
	font-weight:900;
	margin-left:auto;
	margin-right:auto;
}
.login ul{
	float:right;
	padding:0px;
	margin:0px;
}
.login ul li{
	position:relative;
	list-style:none;
} 
.login ul li a{
	text-decoration:none;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:900;
	text-shadow:1px 1px 5px #333;
	color:black;
}
.login ul li a:hover{
	text-decoration:underline;
}

.header_menu{
	height:38px;
	width:100%;
    margin-top: 1px;
    -box-shadow:0px 0px 8px #000;
	-moz-box-shadow:0px 0px 8px #000;
	-webkit-box-shadow:0px 0px 8px #000;
	border:1px medium #000;
    background-color: antiquewhite;
}
.menu{
	width:920px;
	margin-left:auto;
	margin-right:auto;
}
.menu ul{
	padding:0px;
	margin:0px;
}
.menu ul li{
	position:relative;
	float:left;
	list-style:none;
	line-height:40px;
}
.menu ul li a{
	text-decoration:none;
	display:block;
	padding:10px 40px 10px 10px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:900;
	text-shadow:1px 1px 5px #333;
	color:black;
}
.menu ul li:hover{
	background:#333;
	color:#3F6;
	opacity:0.9;
}

.header{
	height:36px;
	padding-bottom:3px;
	padding-left:1px;
}

#news_header{
	margin-top:25px;
	padding:10px;
	font-family:Bernard MT Condensed;
	color: black;
    text-align: center;
    font-size: 25px;
    text-shadow:5px 5px 10px #00FF00;
}

figure{
    border: 1px #cccccc solid;
}

figcaption {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.news_content ul li{
    float: left;
    width: 32.33%;
    margin-bottom: 40px;
	padding: 5px;
}

.container_wrapper{
	width:920px;
	height:1100px;
	padding:0px;
	position:relative;
	margin-top:16px;
	margin-left:auto;
	margin-right:auto;
}

.header_under{
	background:url(../Templates/headerunder.png) repeat-x;
	width:100%;
	height:32px;
}

.sidebar_menu{
	width:230px;
	height:1000px;
	float:left;
	margin-left:8px;
}
.sidebar_menu .header_1{
	font-weight:bold;
	color:#06F;
	height:70px;
	margin-bottom:0px;
	padding:20px 0px 0px 45px;
	border-bottom:2px solid #dadada;	
}
.sidebar_menu ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
	margin-bottom:10px;
}
.sidebar_menu ul li{ padding-bottom:0px;}
.sidebar_menu ul li a{
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:90%;
	color:#09F;
	display:block;
	border-bottom:1px solid #dadada;
	padding-left:20px;
	text-decoration:none;
	padding-top:8px;
	padding-bottom:8px;
}
.sidebar_menu ul li a:hover{
	background:#EFEFEF;
}

.container_wrapper{
	width:920px;
	height:1000px;
	padding:0px;
	position:relative;
	margin-top:16px;
	margin-left:auto;
	margin-right:auto;
	background:#FFF;
	-moz-box-shadow:0px 0px 10px #B0B0B0;
	-webkit-box-shadow:0px 0px 10px #B0B0B0;
	-khtml-box-shadow:0px 0px 10px #B0B0B0;
}

.col2{
	height:100%;
	width:680px;
	float:right;
	position:relative;
	padding:0px;
	margin:0px;
	-moz-box-shadow:0px 0px 10px #B0B0B0;
	-webkit-box-shadow:0px 0px 10px #B0B0B0;
	-khtml-box-shadow:0px 0px 10px #B0B0B0;
	border:1px medium #B0B0B0;
	background:#FFF;
}
.search_box{ width:100%; height:55px; background:#F5F5F5;position:absolute; padding-top:10px; padding-left: 15px;}

#header_title{
	height:30px;
	padding-top:10px;
	margin-top:60px;
	background:#F5F5F5;
	padding-left:10px;
	position:relative;
	border-bottom:1px solid #dadada;
	font-family:Bernard MT Condensed; 
	color:#09F;
}

.content_holder{
	height:110px;
	padding-left:10px;
	padding-bottom:6px;
	border-bottom:1px dashed #CCC;
}

.info{ height:auto; width:100%;position:relative; top:8px;}
.info1{ height:70px; width:595px; float:right; padding:0px;}

.submenu{
	background:#E5E5E5;
	height:40px;
	width:100%;
	padding:0px;
}
.submenu ul{
	padding:0px;
}
.submenu ul li{
	padding:10px;
	padding-left:40px;
	padding-right:40px;
	list-style:none;
	line-height:18px;
	position:relative;
	float:left;
}
.submenu ul li a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:900;
	text-shadow:1px 1px 1px #333;
	color:#09F;
}
.submenu ul li:hover{
	color:#FFF;
	background:#959595;
}

.login_wrapper{
	width:920px;
	height:600px;
	position:relative;
	margin-top:16px;
	margin-left:auto;
	margin-right:auto;
	background:#FFF;
	-moz-box-shadow:0px 0px 10px #B0B0B0;
	-webkit-box-shadow:0px 0px 10px #B0B0B0;
	-khtml-box-shadow:0px 0px 10px #B0B0B0;
	border:1.5em medium #B0B0B0;
}

.banner{
	height:110px;
	margin-top:0px;
	width:100%;
	-moz-box-shadow:0px 0px 10px #B0B0B0;
	-webkit-box-shadow:0px 0px 10px #B0B0B0;
	-khtml-box-shadow:0px 0px 10px #B0B0B0;
	border:1px medium #B0B0B0;
}

